* {
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
}

p{
  color: #000000;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header {
  background-color: #fff;
}
.linha {
  position: relative;
  left: 30px;
  height: 1px;
  width: 97.1%;
  background-color: #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 95vw;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  gap: 1rem;
  letter-spacing: 3px;
  font-size: 17px;
}

.nav-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 50px;
  right: 40%;
  width: 17vw;
  margin: 0 auto;
  font-size: 18px;
}

.Foto{
  position: relative;
  top: 100px;
  left: 350px;
  height: 600px;
  width: 60%;
  background-color: gray;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.line {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px 0;
}

.nav-list a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-2 a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }
  .nav-2 a:hover::after {
    width: 100%;
  }
  footer{
    position: relative;
    display: flex;
    justify-content: center;
    top:285px;
  }

@media (max-width: 999px) {
  .nav-list {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .linha {
    left: 0;
    width: 100%;
    opacity: 0.5;
  }
  .nav-list[data-show="1"] {
    display: flex;
    position: absolute;
    width: 100vw;
    padding: 1rem 0;
    text-align: center;
    background-color: #202020;
    flex-direction: column;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
  }
  .mobile-menu {
    display: block;
  }
  .nav-2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 40px;
    right: 300px;
    height: 7vh;
    width: 30vw;
    margin: 0 auto;
  }
  .Foto{
    position: relative;
    top: 80px;
    left: 90px;
    height: 550px;
    width: 80%;
    background-color: gray;
  }

  footer{
    position: relative;
    display: flex;
    justify-content: center;
    top:200px;
}
  }


@media (max-width: 425px){
  .nav-list {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .linha {
    left: 0;
    width: 100%;
    opacity: 0.5;
  }
  .mobile-menu {
    display: block;
  }
  .nav-2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 60px;
    right: 60px;
    height: 7vh;
    width: 67vw;
    margin: 0 auto;
    font-size: 20px;
  }
  .Foto{
    position: relative;
    top: 120px;
    left: 30px;
    height: 550px;
    width: 85%;
    background-color: gray;
  }
  footer{
    position: relative;
    display: flex;
    justify-content: center;
    top:215px;
  }
}
